*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text-white);
}

:root{
    --text-white: #fff;
    --body-color: #02010E;
    --btn-color: #C52932;
    --blue-text: #5C7A9D;
    --dark-blue-color: #1B1A26;
    --bg-input: #31303B;
    --bg-cart: #152240;
    --green: #13C25C;
    --red-text: #F5313C;
    --yellow: #CC9933;
    --grey-text:#969696;
    --btn-hover: #ad1e25;
    --cart-hover: #213778;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
}

input{
    outline: none;
    border: none;
}
.wrapper{
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1440px;
}

.button {
    cursor: pointer;
    padding: 10px 22px;
    color: var(--text-white);
    border-radius: 50px;
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548);
    background: 
        radial-gradient(ellipse at center bottom, rgba(255, 255, 255, 0.315), transparent 50%),
        var(--btn-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover{
    background-color: var(--btn-hover);
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548),  0 0 10px var(--btn-hover);
}

.blue-text{
    color: var(--blue-text);
    font-weight: bold;
}


/*HEADER*/
.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/*MAIN*/

.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile__container{
    display: flex;
    gap: 30px;
}

.user-profile__info form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user-profile__bio form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user-profile__info form input:nth-child(2){
    height: 50px;
    background-color: var(--bg-input);
    padding: 18px 20px ;
    border-radius: 8px;
}

.user-profile__bio form input:nth-child(2){
    height: 50px;
    background-color: var(--bg-input);
    padding: 18px 20px ;
    border-radius: 8px;
}

input{
    color: #fff;
}

/*FOOTER*/
.footer{
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__soc-networks{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.footer__img{
    display: flex;
    gap: 10px;
}

.footer__form input{
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: var(--text-white);
    outline: none;
    padding: 8px 12px;
    border-radius: 50px;
    background-color: var(--bg-input);
}

.footer__form form{
    padding: 10px 10px;
    display: flex;
    width: 550px;
    border-radius: 50px;
    background-color: var(--bg-input);
}

.footer__form form:focus-within{
  border: 1px solid #fff;
}

.footer__form button{
    border: none;
}