*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text-white);
}

:root{
    --text-white: #fff;
    --body-color: #02010E;
    --btn-color: #C52932;
    --blue-text: #5C7A9D;
    --dark-blue-color: #1B1A26;
    --bg-input: #31303B;
    --bg-cart: #152240;
    --green: #13C25C;
    --red-text: #F5313C;
    --yellow: #CC9933;
    --grey-text:#969696;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
}

input{
    outline: none;
    border: none;
}
.wrapper{
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1440px;
}

.button {
    cursor: pointer;
    padding: 10px 22px;
    color: var(--text-white);
    border-radius: 50px;
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548);
    background: 
        radial-gradient(ellipse at center bottom, rgba(255, 255, 255, 0.315), transparent 50%),
        var(--btn-color);
}

.blue-text{
    color: var(--blue-text);
    font-weight: bold;
}


/*HEADER*/

.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.header__content{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo img, .footer__inner img{
    cursor: pointer;
}

.header__nav{
    display: flex;
    gap: 20px;
    
}

.header__button{
    display: flex;
    gap: 20px;
}

/*GAME-CART*/

.game-cart{
    display: flex;
    justify-content: space-between;
}


.game-cart__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.game-cart__content h2{
    font-size: 3rem;
}

.game-cart__content h3{
    color: var(--blue-text);
}
.game-cart__category{
    width: 65%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--yellow);

}

.game-cart__category::after, .game-cart__category::before{
    content: '';
    flex: 1;
    height: 2px;
    background-color: var(--yellow)
}

.game-cart__info{
    display: flex;
    gap: 20px;
}

.info__badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px; 
}

.info__content {
  width: 56px;
  height: 56px;
  border: 2px solid #ffffff; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
}

.info__badge p:nth-child(0) {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin-top: 4px;

}

.game-cart__image-wrapper {
  position: relative;
}

.game-cart__image-wrapper::before,
.game-cart__image-wrapper::after {
  content: '';
  position: absolute;
  bottom: 20px;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.game-cart__image-wrapper::before {
  right: 10px;
  background-image: url('/assets/img/icon/plus.svg');
  cursor: pointer;
}

.game-cart__image-wrapper::after {
  right: 64px; 
  background-image: url('/assets/img/icon/favorit.svg'); 
  cursor: pointer;
}



/*FOOTER*/

.footer{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.footer__soc-networks{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.footer__img{
    display: flex;
    gap: 10px;
}

.footer__form input{
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 16px;
    outline: none;
    padding: 8px 12px;
    border-radius: 50px;
    background-color: var(--bg-input);
}

.footer__form form{
    padding: 10px 10px;
    display: flex;
    width: 550px;
    border-radius: 50px;
    background-color: var(--bg-input);
}

.footer__form button{
    border: none;
}