*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text-white);
}

:root{
    --text-white: #fff;
    --body-color: #02010E;
    --btn-color: #C52932;
    --blue-text: #5C7A9D;
    --dark-blue-color: #1B1A26;
    --bg-input: #31303B;
    --bg-cart: #152240;
    --green: #13C25C;
    --red-text: #F5313C;
    --yellow: #CC9933;
    --grey-text:#969696;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
}

input{
    outline: none;
    border: none;
}
.wrapper{
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1440px;
}

.button {
    cursor: pointer;
    padding: 10px 22px;
    color: var(--text-white);
    border-radius: 50px;
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548);
    background: 
        radial-gradient(ellipse at center bottom, rgba(255, 255, 255, 0.315), transparent 50%),
        var(--btn-color);
}

.blue-text{
    color: var(--blue-text);
    font-weight: bold;
}


/*HEADER*/
.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.header__content{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo img, .footer__inner img{
    cursor: pointer;
}

.header__nav{
    display: flex;
    gap: 20px;
    
}

.header__button{
    display: flex;
    gap: 20px;
}

/*USER-PROFILE*/

.user-profile{
    width: 90%;
}

.user-profile__inner{
    display: flex;
    gap: 200px;
}

.user-profile__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.user-profile__bio-label {
    font-size: 0.85rem;
    color: var(--grey-text)
}

.user-profile__description {
    height: 200px;
    background-color: var(--bg-input);
    padding: 18px 20px ;
    border-radius: 8px;

}

/*FAVORIT-GAMES*/

.favorit-games{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.favorit-games__tabs{
    display: flex;
    font-size: 2rem;
    gap: 70px;
    color: var(--grey-text);
}

.favorit-games__tabs > p{
    cursor: pointer;
}

.favorit-games__tabs--active{
    color: var(--text-white);
}

.favorit-games__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 70px;
}


.catalog__cart{
    min-width: 300px;
    min-height: 450px;
    background-color: var(--bg-cart);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 3px 15px var(--btn-color);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.catalog__cart > img{
    width: 100%;
    height: auto;
}

.cart__logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    z-index: 10;
}

.cart__logo img{
    width: 100%;
    height: auto;
}

.cart__content{
    background-color: var(--bg-cart);
    padding: 15px;
    margin-top: auto;
    border-radius: 0 0 10px 10px;
}

.cart__content::before {
    content: '';
    position: absolute;
    bottom: 150px; 
    left: 0;
    right: 0;
    height: 60px; 
    background: linear-gradient(to top, var(--bg-cart), transparent);
    z-index: 5;
    pointer-events: none; 
}

.cart__content h2{
    font-size: 1.2rem;
    font-weight: 500;
}


.cart__players{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.cart__progress-bar {
    width: 100%;
    height: 4px;
    background-color: var(--bg-input); 
    border-radius: 2px;
}

.cart__difficulty-easy{
    font-size: 0.8rem;
    color: var(--green);
}

.cart__progress-easy {
    width: 25%; 
    height: 100%;
    background-color: var(--green);
    border-radius: 2px 0 0 2px;
}

.cart__difficulty-normal{
    font-size: 0.8rem;
    color: var(--yellow);
}


.cart__progress-normal {
    width: 50%; 
    height: 100%;
    background-color: var(--yellow);
    border-radius: 2px 0 0 2px;
}

.cart__difficulty-hard{
    font-size: 0.8rem;
    color: var(--red-text);
}

.cart__progress-hard {
    width: 100%; 
    height: 100%;
    background-color: var(--red-text);
    border-radius: 2px;
}

.cart__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__bg-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden; 
}

.card__bg {
    width: 100%;
    height: auto;
    object-fit: cover; 
    object-position: center;
}

.catalog__pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination__item{
    padding: 16px 23px;
    text-align: center;
    border: 3px solid var(--btn-color);
    border-radius: 10px;
    cursor: pointer;
}

.pagination__item--active{
    padding: 16px 23px;
    text-align: center;
    border: 3px solid var(--btn-color);
    border-radius: 10px;
    box-shadow: inset 0 0 10px 1px #cf585e;
    background: 
        radial-gradient(circle at center bottom, rgba(255, 255, 255, 0.315), transparent 50%),
        var(--btn-color);
    cursor: pointer;
}


/*FOOTER*/


.footer{
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__soc-networks{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.footer__img{
    display: flex;
    gap: 10px;
}

.footer__form input{
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 16px;
    outline: none;
    padding: 8px 12px;
    border-radius: 50px;
    background-color: var(--bg-input);
}

.footer__form form{
    padding: 10px 10px;
    display: flex;
    width: 550px;
    border-radius: 50px;
    background-color: var(--bg-input);
}

.footer__form button{
    border: none;
}