*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text-white);
}

:root{
    --text-white: #fff;
    --body-color: #02010E;
    --btn-color: #C52932;
    --blue-text: #5C7A9D;
    --dark-blue-color: #1B1A26;
    --bg-input: #31303B;
    --bg-cart: #152240;
    --green: #13C25C;
    --red-text: #F5313C;
    --yellow: #CC9933;
    --grey-text:#969696;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
}

input{
    outline: none;
    border: none;
}
.wrapper{
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1440px;
}

.button {
    cursor: pointer;
    padding: 10px 22px;
    color: var(--text-white);
    border-radius: 50px;
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548);
    background: 
        radial-gradient(ellipse at center bottom, rgba(255, 255, 255, 0.315), transparent 50%),
        var(--btn-color);
}

.blue-text{
    color: var(--blue-text);
    font-weight: bold;
}

/*HEADER*/

.header{
    display: flex;
    justify-content: end;
}

.header a{
    text-align: center;
    width: 170px;
}

/*registration*/

.registration{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.registration form{
    display: flex;
    flex-direction: column;
}