*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text-white);
}

:root{
    --text-white: #fff;
    --body-color: #02010E;
    --btn-color: #C52932;
    --blue-text: #5C7A9D;
    --dark-color: #1B1A26;
    --bg-input: #31303B;

}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
}

input{
    outline: none;
    border: none;
}
.wrapper{
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1440px;
}

.button {
    cursor: pointer;
    padding: 10px 22px;
    color: var(--text-white);
    border-radius: 50px;
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548);
    background: 
        radial-gradient(ellipse at center bottom, rgba(255, 255, 255, 0.315), transparent 50%),
        var(--btn-color);
}

.blue-text{
    color: var(--blue-text);
    font-weight: bold;
}


/*HEADER*/
.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.header__content{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo img, .footer__inner img{
    cursor: pointer;
}

.header__nav{
    display: flex;
    gap: 20px;
    
}

.header__button{
    display: flex;
    gap: 20px;
}



/*MAIN BANNER*/

.main-banner, .about-us{
    margin: 0 auto;
    background: radial-gradient(circle 200px at left 60%, #004ca25e, transparent 100%),
                radial-gradient(circle 200px at right 65%, #004ca25e, transparent 100%);
}

.main-banner img, .about-us img{
    max-width: 100%;
    height: auto;
}

.main-banner__inner, .about-us__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

}

.main-banner__text, .about-us__text{
    display: flex;
    max-width: 50%;
    flex-direction: column;
    gap: 40px;
}

.main-banner__text h2{
    font-size: 2.5rem;
    max-width: 70%;
}

.main-banner__text a{
    max-width: 200px;
}

.about-us__text h2{
    font-size: 2.5rem;
    max-width: 90%;
}

/*FOOTER*/

.footer{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/*CATALOG*/
.catalog__searth-backgroung{
    background-color: var(--dark-color);
    width: 80%;
    border-radius: 50px;
    padding: 10px 30px;
    height: 60px;
    
}

.catalog__search-container{
    display: flex;
    justify-content: space-between;
}

.catalog__search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog__search button{
    width: 15%;
}

.catalog__search input{
    width: 83%;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: var(--bg-input);
}

.catalog__sort{
    display: flex;
    gap: 10px;
    align-items: center;
}


.catalog__inner{
    display: flex;
    justify-content: space-between;
}

.catalog__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.catalog__search-inner{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.catalog__filters{
    background-color: var(--dark-color);
    padding: 20px;
    width: 30%;
    border-radius: 10px;
}

.filters__age{
    display: grid;
    padding-left: 1vw;
    grid-template-columns: repeat(3, 1fr);
}
.filters__players{
    display: flex;
    padding-left: 1vw;
}
.filters__category, .filters__complexity div{
    display: flex;
    padding-left: 1vw;
    justify-content: space-between;
}

