@import url(/assets/style/css/root.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-white);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
}

input {
  outline: none;
  border: none;
}

.wrapper {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  cursor: pointer;
  padding: 10px 22px;
  color: var(--text-white);
  border-radius: 50px;
  box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548);
  background: 
    radial-gradient(ellipse at center bottom, rgba(255, 255, 255, 0.315), transparent 50%),
    var(--btn-color);
  transition: box-shadow 0.5s ease, background-color 0.5s ease;
}

.button:hover{
    background-color: var(--btn-hover);
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548),  0 0 10px var(--btn-hover);
}

.blue-text {
  color: var(--blue-text);
  font-weight: bold;
}

main{
  background: radial-gradient(circle 200px at left 30%, #004ca25e, transparent 100%),
              radial-gradient(circle 200px at right 65%, #004ca25e, transparent 100%);
}

/* HEADER */
.header {
  width: 90%;
  display: flex;
  justify-content: end;
}

.header a {
  text-align: center;
  width: 170px;
}

/* REGISTRATION */
.registration {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.registration__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registration__title h2{
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
}


.registration__title p {
  text-align: center;
  font-weight: 300;
}

.registration form {
  height: 350px;
  width: 700px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.registration__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

label {
  font-size: 0.7rem;
  color: var(--grey-text);
}

input {
  width: 100%;
  padding: 15px 16px;
  background-color: var(--bg-dark-blue);
  border-radius: 8px;
  color: var(--text-white);
  font-size: 16px;
  transition: color 0.2s ease;
}

input::placeholder {
  transition: color 0.2s ease;
}

input:hover::placeholder {
  color: var(--text-white);
}

input:focus{
  border: 1px solid #fff;
}

.registration button {
  border: none;
  font-size: 1rem;
  margin-top: auto;
  padding: 15px 30px;
  width: 200px;
}

.registration__footer {
  text-align: center;
  margin-top: 20px;
}

.registration__footer a {
  color: var(--grey-text);
  font-size: 0.9rem;
  transition: color 0.5s ease;
}

.registration__footer a:hover{
  color: var(--text-white);
}

@media (max-width:768px) {
  .registration form {
    height: 350px;
    width: 500px;
  }
}

@media(max-width:500px){
  .registration form{
    width: 80%;
  }
}