@import url(/assets/style/css/root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text-white);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
}
.wrapper{
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1440px;
}

.button {
    cursor: pointer;
    padding: 10px 22px;
    color: var(--text-white);
    border-radius: 50px;
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548);
    background: 
        radial-gradient(ellipse at center bottom, rgba(255, 255, 255, 0.315), transparent 50%),
        var(--btn-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover{
    background-color: var(--btn-hover);
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548),  0 0 10px var(--btn-hover);
}

main{
    background: radial-gradient(circle 200px at left 30%, #004ca25e, transparent 100%),
                radial-gradient(circle 200px at right 65%, #004ca25e, transparent 100%);
}

.header{
    width: 90%;
    text-align: end;
}

.main-content{
    height: 80vh ;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.main-content h2{
    font-size: 10rem;
}

.main-content h3{
    font-size: 2.5rem;
    font-weight: 400;
}

.main-content p{
    font-size: 1.2rem;
}