@import url(/assets/style/css/root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text-white);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
}

input{
    outline: none;
    border: none;
}
.wrapper{
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1440px;
}

.button {
    cursor: pointer;
    padding: 10px 22px;
    color: var(--text-white);
    border-radius: 50px;
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548);
    background: 
        radial-gradient(ellipse at center bottom, rgba(255, 255, 255, 0.315), transparent 50%),
        var(--btn-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover{
    background-color: var(--btn-hover);
    box-shadow: inset 0 0 5px 1px rgba(255, 255, 255, 0.548),  0 0 10px var(--btn-hover);
}

.blue-text{
    color: var(--blue-text);
    font-weight: bold;
}


/*HEADER*/
.header{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.header__menu{
    display: none;
}

.menu__content{
    display: none;
}

.header__nav a {
    position: relative;
    padding-bottom: 4px;  
    transition: border-bottom 0.3s ease;

}

.header__nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--blue-text);
    border-radius: 3px;
    opacity: 0;
    transform-origin: center;
    transition: opacity 0.3s ease;
}

.header__nav a:hover::after {
    opacity: 1;
}

.header__content{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo img, .footer__inner img{
    cursor: pointer;
}

.header__nav{
    display: flex;
    gap: 20px;
    
}

.header__button{
    display: flex;
    gap: 20px;
}


main{
    background: radial-gradient(circle 250px at left 20%, #004ca25e, transparent 100%),
                radial-gradient(circle 250px at right 70%, #004ca25e, transparent 100%);
}

/*USER-PROFILE*/

.user-profile{
    width: 90%;
}

.user-profile__inner{
    display: flex;
    gap: 200px;
}

.user-profile__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.user-profile__info h2{
    font-size: 2.5rem;
    font-weight: 500;
}

.user-profile__info a{
    color: var(--grey-text);
    transition: color 0.3s ease;
}

.user-profile__info a:hover{
    color: var(--text-white);
}



.user-profile__bio-label {
    font-size: 0.85rem;
    color: var(--grey-text)
}

.user-profile__description {
    height: 200px;
    background-color: var(--bg-input);
    padding: 18px 20px ;
    border-radius: 8px;

}

/*FAVORIT-GAMES*/

.favorit-games{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.favorit-games__tabs{
    display: flex;
    align-items: end;
    font-size: 2rem;
    gap: 70px;
    color: var(--grey-text);
}

.favorit-games__tabs > p, .favorit-games__controls p{
    cursor: pointer;
    transition: color 0.3s ease;
}

.favorit-games__controls div{
    display: flex;
    gap: 10px;
}

.favorit-games__controls{
    display: flex;
    width: 50%;
    font-size: 1rem;
    justify-content: space-between;
}
.favorit-games__controls p:hover{
    color: var(--text-white);
}

.favorit-games__variant{
    display: flex;
    gap: 70px;
}

.favorit-games__variant p{
    transition: color 0.3s ease;
    cursor: pointer;
}

.favorit-games__variant p:hover{
    color: var(--text-white);

}

.favorit-games__tabs--active{
    color: var(--text-white);
}

.favorit-games__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.favorit-games__controls{
    position: relative;
}

.sort__list:hover .sort__options {
    opacity: 1;
    transform: translateY(0);
}


.sort__options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--dark-blue-color);
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    min-width: 250px;
    opacity: 0;
    transform: translateY(-8px);
    transition: all 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 6px;
    padding: 8px 10px;
}

.sort__options p{
    cursor: pointer;
    font-size: 1rem;
    color: var(--grey-text);
    transition: color 0.5s ease;
}

.sort__options p:last-child{
    color: var(--text-white);
}

.sort__options p:hover{
    color: var(--text-white);
}


.catalog__cart{
    max-width: 300px;
    max-height: 400px;
    background-color: var(--bg-cart);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 3px 15px var(--btn-color);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.catalog__cart:hover{
    box-shadow: 0 3px 15px var(--cart-hover);
}


.catalog__cart > img{
    width: 100%;
    height: auto;
}

.cart__top {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 10px;
    width: 290px;
    z-index: 1;
}

.cart__top img:nth-child(2){
    width: 100px;
    height: auto;
}

.cart__top img:nth-child(1){
    width: 50px;
    height: auto;
}

.cart__content{
    background-color: var(--bg-cart);
    padding: 15px;
    margin-top: auto;
    border-radius: 0 0 10px 10px;
}

.cart__content::before {
    content: '';
    position: absolute;
    bottom: 130px; 
    left: 0;
    right: 0;
    height: 60px; 
    background: linear-gradient(to top, var(--bg-cart), transparent);
    z-index: 0;
    pointer-events: none; 
}

.cart__content h2{
    font-size: 1.2rem;
    font-weight: 500;
}


.cart__players{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.cart__progress-bar {
    width: 100%;
    height: 4px;
    background-color: var(--bg-input); 
    border-radius: 2px;
}

.cart__difficulty-easy{
    font-size: 0.8rem;
    color: var(--green);
}

.cart__progress-easy {
    width: 25%; 
    height: 100%;
    background-color: var(--green);
    border-radius: 2px 0 0 2px;
}

.cart__difficulty-normal{
    font-size: 0.8rem;
    color: var(--yellow);
}


.cart__progress-normal {
    width: 50%; 
    height: 100%;
    background-color: var(--yellow);
    border-radius: 2px 0 0 2px;
}

.cart__difficulty-hard{
    font-size: 0.8rem;
    color: var(--red-text);
}

.cart__progress-hard {
    width: 100%; 
    height: 100%;
    background-color: var(--red-text);
    border-radius: 2px;
}

.cart__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.card__bg-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden; 
}

.card__bg {
    width: 100%;
    height: auto;
    object-fit: cover; 
    object-position: center;
}

.catalog__pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.catalog__pagination img{
    cursor: pointer;
}

.pagination__item{
    padding: 16px 23px;
    text-align: center;
    border: 3px solid var(--btn-color);
    border-radius: 10px;
    transition: background 0.5s ease, box-shadow 0.5s ease;
    cursor: pointer;
}

.pagination__item--active{
    padding: 16px 23px;
    text-align: center;
    border: 3px solid var(--btn-color);
    border-radius: 10px;
    box-shadow: inset 0 0 10px 1px #cf585e;
    background: 
        radial-gradient(circle at center bottom, rgba(255, 255, 255, 0.315), transparent 50%),
        var(--btn-color);
    cursor: pointer;
}
.pagination__item:hover{
    box-shadow: inset 0 0 10px 1px #cf585e;
    background: 
        radial-gradient(circle at center bottom, rgba(255, 255, 255, 0.315), transparent 50%),
        var(--btn-color);
}


/*FOOTER*/

.footer{
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__soc-networks{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.footer__img{
    display: flex;
    gap: 10px;
}

.footer__form input{
    flex: 1;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: var(--text-white);
    outline: none;
    padding: 8px 12px;
    border-radius: 50px;
    background-color: var(--bg-input);
}

.footer__form form{
    padding: 10px 10px;
    display: flex;
    width: 550px;
    border-radius: 50px;
    background-color: var(--bg-input);
}

.footer__form form:focus-within{
  border: 1px solid #fff;
}

.footer__form button{
    border: none;
}

.footer__form form input::placeholder {
  transition: color 0.2s ease;
}


.footer__form form input:hover::placeholder {
  color: var(--text-white);
}



@media(max-width:950px){
    .favorit-games__tabs{
        flex-direction: column;
        align-items: flex-start;
    }
    .favorit-games__controls{
        width: 100%;
        gap: 110px;
        justify-content: flex-start;
    }
}

@media (max-width:768px){
    .wrapper{
        padding: 20px;
    }
    .header__nav, .header__button{
        display: none;
    }

    .header__menu{
        display: block;
        cursor: pointer;
    }

    .user-profile__inner{
        gap: 30px;
    }

    .user-profile__inner img{
        width: 100%;
        height: auto;
    }
    .favorit-games__controls{
        width: 100%;
        gap: 60px;
        justify-content: flex-start;
    }

    .footer{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .footer__soc-networks{
        flex-direction: row;
    }

    .footer__form form{
        width: 100%;
    }
}

@media(max-width: 550px){
    .user-profile__inner{
        flex-direction: column;
    }
    .favorit-games__tabs{
        flex-direction: column;
        gap: 10px;
    }

    .favorit-games__variant{
        flex-direction: column;
        gap: 10px;
    }
    .favorit-games__controls{
        flex-direction: column;
        gap: 10px;
    }
    .catalog__cart{
        max-width: 100%;
        max-height: 500px;
    }
    .cart__content::before{
        bottom: 120px;
    }

}

@media (max-width:360px){
    .footer__form input{
        padding: 0;
    }

}